<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileSystem" type="Sciendo.FilesAnalyser.Configuration.FileSystemConfigurationSection, Sciendo.FilesAnalyser" />
    <section name="analyser" type="Sciendo.FilesAnalyser.Configuration.AnalyserConfigurationSection, Sciendo.FilesAnalyser" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <fileSystem>
    <extensions>
      <add key="mp3" value=".mp3"/>
      <add key="ogg" value=".ogg"/>
      <add key="flac" value=".flac"/>
      <add key="m4a" value=".m4a"/>
      <add key="wma" value=".wma"/>
    </extensions>
  </fileSystem>
  <analyser collectionMarker="Various Artists">
    <collectionPaths>
      <add key="Classic-Compilations" value="C:\Users\octo\Music\Classic-Compilations"/>
      <add key="Comedy-Other" value="C:\Users\octo\Music\Comedy-Other"/>
      <add key="Country-Compilations" value="C:\Users\octo\Music\Country-Compilations"/>
      <add key="Dance-Compilations" value="C:\Users\octo\Music\Dance-Compilations"/>
      <add key="Folk-Compilations" value="C:\Users\octo\Music\Folk-Compilations"/>
      <add key="Jazz-Compilations" value="C:\Users\octo\Music\Jazz-Compilations"/>
      <add key="Oldies-Compilations" value="C:\Users\octo\Music\Oldies-Compilations"/>
      <add key="Pop-Compilations" value="C:\Users\octo\Music\Pop-Compilations"/>
      <add key="Reggae-Compilations" value="C:\Users\octo\Music\Reggae-Compilations"/>
      <add key="Rock-Compilations" value="C:\Users\octo\Music\Rock-Compilations"/>
      <add key="Soundtrack" value="C:\Users\octo\Music\Soundtrack"/>
    </collectionPaths>
  </analyser>
</configuration>