<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="musicBrainz" type="Sciendo.MusicBrainz.Configuration.MusicBrainzConfigSection, Sciendo.MusicBrainz" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <musicBrainz url="http://localhost:7474/db/data" userName="neo4j" password="c0nc0rd3"/>
</configuration>